{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "eslint:recommended",
    "next/core-web-vitals",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "overrides": [
    {
      "files": ["*.stories.@(ts|tsx)"],
      "extends": ["plugin:storybook/recommended"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {},
  "rules": {
    "react/react-in-jsx-scope": "off",
    "@next/next/no-img-element": "off",
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.{stories,test,spec}.{js,jsx,ts,tsx}"] }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  }
}
